{% extends 'education/base.html' %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Курсы</h2>

    <!-- Список курсов -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% if not courses %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">По данному запросу не найдено ни одного курса.</p>
                    <a href="{% url 'course_list' %}" class="btn btn-outline-primary">Сбросить фильтр поиска</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% for course in courses %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <!-- Левая колонка: Название, описание и кнопка -->
                        <div class="col-md-8">
                            <h5 class="card-title">{{ course.title }}</h5>
                            <p class="card-text">{{ course.description }}</p>
                            <a href="{% url 'course_detail' course.id %}" class="btn btn-outline-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                </svg>
                                Перейти
                            </a>
                        </div>

                        <!-- Правая колонка: Прогресс -->
                        <div class="col-md-4">
                            {% if user.is_authenticated and user.userprofile in course.students.all %}
                            <p class="mb-2">Прогресс:</p>
                            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="{{ progress_percent }}" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped bg-success" style="width: {{ progress_percent|floatformat:0 }}%">{{ progress_percent|floatformat:0 }}%</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}